/* *Contact* */
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas:
    'heading-contact'
    'card-contact';
  place-self: center;
  gap: 50px;
  text-align: center;
  width: 650px;
  width: 60%;
  transition: 0.4s;
}
.contact .heading {
  grid-area: heading-contact;
  font-weight: 300;
}
.contact .card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-area: card-contact;
  border: 1px solid #6b728e;
  border-radius: 7px;
  padding: 20px;
  place-items: center;
  color: #6b728e;
}
.contact .card:hover {
  border: 1px solid white;
}
.card > img {
  width: 11em;
  height: 11em;
  border-radius: 10em;
  object-fit: cover;
  opacity: 0.5;
}
.card > img:hover {
  opacity: 1;
}
.desc h3 {
  font-weight: 400;
}
.desc h3:hover {
  color: white;
}
.desc p {
  margin: 25px 0;
  font-weight: 300;
}
.desc p:hover {
  color: white;
}
.app-icon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-content: space-around;
}
.app-icon a {
  text-align: center;
}
.app-icon img {
  width: 35%;
  opacity: 0.5;
}
.app-icon img:hover {
  opacity: 1;
}

@media (max-width: 992px) {
  /* *Contact* */
  .contact .card {
    gap: 30px;
  }
  .app-icon img {
    width: 30%;
    opacity: 0.5;
  }
}

@media (max-width: 576px) {
  /* *Contact* */
  .contact {
    width: 80%;
  }
  .app-icon img {
    width: 40%;
    opacity: 0.5;
  }
}
