@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@import "./main-menu.css";
@import "./contact-menu.css";
@import "./navbar.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0 50px;
  background-color: #23242e;
  color: white;
}
.container {
  display: grid;
  gap: 100px;
}

@media (max-width: 768px) {
  body {
    margin: 0 30px;
  }
}

@media (max-width: 576px) {
  body {
    margin: 0 20px;
  }
}
